


 body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg,#bad6e1,rgb(110, 110, 243));
  height: 100vh;
  margin: 0;
}


.dash-board {
  height: 120px;
  width: 80%;
  color: white;
  background-color: blue;
  font-size: 40px;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto;

  
  animation: fadeDown 1s ease-out forwards;
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 60vh;
  color: white;
  background-color: rgb(157, 109, 239);
  font-size: 26px;
  border: none;
  border-radius: 20px;
  margin: 25px auto;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}


button:hover {
  background: #7450ff;
  transform: scale(1.05);
}


.Basic {
  animation: slideInLeft 1s ease-out forwards;
}

.Moderate {
  animation: slideInRight 1s ease-out 0.3s forwards; 
}

.Advance {
  animation: slideInUp 1s ease-out 0.6s forwards; 
}


@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logout {
  height: 60px;
  width: 140px;
  background: linear-gradient(135deg, #ef4444, #dc2626);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  margin: 20px auto;
  cursor: pointer;
  display: block;
  transition: transform 0.3s ease, background 0.3s ease;
  margin-top: 100px; 
  
  animation: slideInLogout 1s ease-out 0.9s forwards;
}


.logout:hover {
  background: #b91c1c;
  transform: scale(1.1);
}

@keyframes slideInLogout {
  0% {
    opacity: 0;
    transform: translate(200px, 200px) scale(0.8);
  }
  80% {
    opacity: 1;
    transform: translate(-10px, -10px) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}









 